<form [formGroup]="pessoaForm">

  <div>
  <mat-form-field appearance="fill" class="input-nome">
    <mat-label>Nome</mat-label>
    <input matInput formControlName="nome" placeholder="Nome" maxlength="255" class="input-nome"/>
  </mat-form-field>
</div>

  <mat-form-field appearance="fill">
    <mat-label>Data de Nascimento</mat-label>
    <input matInput type="date" formControlName="dataNascimento" placeholder="Data de Nascimento"/>
  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>-->
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Idade</mat-label>
    <input matInput formControlName="idade" placeholder="Idade" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Sexo</mat-label>
    <input matInput formControlName="sexo" placeholder="Sexo" />
  </mat-form-field>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Salário R$</mat-label>
    <input matInput formControlName="salario" placeholder="Salário" maskCurrency />
    <!--<input matInput type="number"  formControlName="salario" placeholder="Salário" />-->
  </mat-form-field>
</div>

  <mat-card-actions>
    <button mat-raised-button class="success-button" [disabled]="!pessoaForm.valid" (click)="atualizar()">Atualizar/Gravar</button>
    <button mat-raised-button color="warn" routerLink="">Cancelar</button>
  </mat-card-actions>

</form>
